html{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
    text-align:center;
    color:rgb(0, 0, 0);
    margin:0;
    padding:0;
    background-image: linear-gradient( rgb(255, 46, 46), rgb(102, 0, 143));
    justify-content:space-between;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.header{
    padding:20px;
    background-color:rgb(155, 0, 103);
    box-shadow: 5px 10px 18px rgb(82, 82, 82);
    color:rgb(255, 193, 60);
    font-family: 'Press Start 2P', cursive;
}



.p1{
    display:flex;
    text-align:center;
    justify-content:center;
}

.uline{
    text-decoration: underline;
}

.last-part{
    display: flex;
    gap:20px;
    justify-content:center;
}


.lastimg{
    width: 280px;
}


img{
    height: 280px;
    width:280px;
}

.footer{
    padding:20px;
    background-color: rgb(92, 0, 61);
    color:rgb(255, 193, 60);
}

img:hover{
    border: 3px solid rgb(255, 14, 255);
    box-shadow: 5px 10px 18px rgb(99, 0, 99);
    
}



img:active{
    border: none;
    box-shadow: none;
    height: 280px;
    width:280px;
}



.ps, .cs{
    justify-content:center;
}

.pp{
    margin:0px 20px;
}

.body_part{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

h3{
    font-size: 130%;
}