html{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
    text-align:center;
    color:rgb(0, 0, 0);
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom right, rgb(208, 255, 0), rgb(0, 255, 85));
    justify-content:space-between;
    height: 100%;

}

.header{
    padding:20px;
    background-color:rgb(161, 0, 107);
    box-shadow: 5px 10px 18px rgb(82, 82, 82);
    color:rgb(255, 193, 60);
}



.p1{
    display:flex;
    text-align:center;
    justify-content:center;
}

.uline{
    text-decoration: underline;
}

.last-part{
    display: flex;
    gap:20px;
    justify-content:center;
}


.lastimg{
    width: 300px;
}


img{
    height: 280px;
    width:auto;
}

.footer{
    padding:20px;
    background-color: rgb(161, 0, 107);
    color:rgb(255, 193, 60);
}

img:hover{
    border: 3px solid rgb(255, 14, 255);
    box-shadow: 5px 10px 18px rgb(99, 0, 99);
    
}

.pp{
    margin:30px;
}
